<div class="globe">
    <app-header></app-header>
</div>
<!--------------------------------------------NUTRITION HEADER--------------------------------------------->
<div class="nutrition hide" style="max-height: 140px;height:140px;">
    <nav class=" navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <a class="navbar-brand">
                <img src="https://theme.zdassets.com/theme_assets/219316/ca65d4b0417dec6fa903cc5fadfd0ad9bbc93ce0.png"
                    width="180" height="60">
            </a>
        </div>
    </nav>
    <button class="btn toto disabled" data-toggle="modal" data-target="#sem-login">
        <p style="font-size: 120%;" [routerLink]="['/Login']">Log in</p>
    </button>
    <button class="btn yoyo disabled" data-toggle="modal" data-target="#sem-reg">
        <p style="font-size: 120%;" [routerLink]="['/Signup']">Sign up</p>
    </button>
    <hr style="position: relative;top:-75px">
    <div class="upt" style="position: relative;">Last updated on 13 Jul, 2021</div>
</div>


<!------------------------------------------------FILTER PART------------------------------------------->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
</head>

<div>
    <section id="portfolio">
        <div class="container">
            &nbsp;&nbsp;&nbsp;

            <button class="btn btn-default disabled btn-xs filter-button jojo" data-filter="Delivery">
                <h4 [routerLink]="['/Delivery']"><img src="
                    https://b.zmtcdn.com/data/o2_assets/c0bb85d3a6347b2ec070a8db694588261616149578.png" width="30"
                        height="30" class="img"> Delivery</h4>
            </button>
            <!-- </div> -->

            <button class="btn btn-default disabled btn-xs filter-button jojo" data-filter="DiningOut">
                <h4 [routerLink]="['/DiningOut']"><img
                        src="https://b.zmtcdn.com/data/o2_assets/30fa0a844f3ba82073e5f78c65c18b371616149662.png"
                        width="30" height="30" class="img"> DiningOut</h4>
            </button>

            <button class="btn btn-default disabled btn-xs filter-button jojo" data-filter="Nightlife">
                <h4 [routerLink]="['/Nightlife']"><img
                        src="https://b.zmtcdn.com/data/o2_assets/855687dc64a5e06d737dae45b7f6a13b1616149818.png"
                        width="30" height="30" class="img"> Nightlife</h4>
            </button>

            <button class="btn btn-default disabled btn-xs filter-button jojo" data-filter="Nutrition">
                <h4 [routerLink]="['/Nutrition']"><img
                        src="https://b.zmtcdn.com/data/o2_assets/0f6dcb1aef93fa03ea3f91f37918f3bc1616649503.png"
                        width="30" height="30" class="img"> Nutrition</h4>
            </button>
        </div>
        <hr style="margin-top: -22px; width: 150%; margin-left: -10%; padding-left: -10%;" />

        <div class="row" style="margin-top: -15px;">
            <div class="gallery_product row-md-4 filter center Delivery">

            </div>
            <div class="gallery_product row-md-4 filter center DiningOut">

            </div>
            <div class="gallery_product row-md-4 filter center Nightlife">
            </div>
            <div class="gallery_product row-md-4 filter center Nutrition">

            </div>
        </div>

    </section>

</div>




<!--<span class="navbar-text mr-auto">
            <li class="nav-item dropdown " style="list-style:none; display: inline;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false"><button class="btn" type="submit"><img
                            src="assets/icons/search.svg" width="20" height="20" class="img"></button>
                    Your Location
                </a>
                <ul class="dropdown-menu shadow" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/twelve']">Class - 12th</a>
                    </li>
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/eleven']">Class - 11th</a>
                    </li>
                    <li>
                        <a class="dropdown-item mb-2" [routerLink]="['/ten']">Class - 10th</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" style="list-style:none; display: inline;">
                <div class="search">
                    <button class="btn" type="submit"><img src="assets/icons/searchbtn.svg" width="20" height="20"
                            class="img"></button>
                    <input type="text" class="search-input" placeholder="Search for a restaurant,cuisine and dishes">
                </div>
            </li>
        </span>-->