<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZOMATO|HOME</title>
</head>


<body>
    <div id="header-img">
        <header>
            <div class="d-flex justify-content-center">
                <div class="nav-menu">
                    <p class="float-left text-white w-0 wt-3">Get the app</p>
                    <p class="float-right text-white w-0 wt-3 h4 nav-link">Sign up</p>
                    <p class="float-right text-white w-0 wt-3 h4 nav-link">Login</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="d-flex justify-content-center header-flex">
                <p class="zomato">Zomato</p>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <input type="text" placeholder="Search for dishes or cuisines.." class="search-box" />
                <button class="search-btn">Search</button>
            </div>
        </div>
    </div>
</body>

</html>