<div class="momo">
    <div style="background-color:white;">
        <div class="row" on style="
      max-width: 1600px;
      max-height: 410px;
      height: 300px;
      background-color: white;
    ">
            <div class="col btnsleft">
                <div class="customPreviousBtn rounded-circle">
                    <i class="fa fa-arrow-left"></i>
                </div>
            </div>

            <div class="col cindex" style="max-width: 1094px">
                <div class="hidecarousel3">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div>
                                <a [routerLink]="['']"><img class="image ooo"
                                        src="https://b.zmtcdn.com/web/nutrition/assets/47fb421f35ca12ad3111e3d99d1737571620108828.png" /></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="image ooo"
                                    src="https://b.zmtcdn.com/web/nutrition/assets/0a8f2dad65904b89178905213efe886c1620108711.png" />
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="image ooo"
                                    src="https://b.zmtcdn.com/web/nutrition/assets/f8da550c375c3bec2f6ba341336324561620108741.png" />
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="image ooo"
                                    src="https://b.zmtcdn.com/web/nutrition/assets/cfbb36a56a4203c7efac5de27318ea381620108756.png" />
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="image ooo"
                                    src="https://b.zmtcdn.com/web/nutrition/assets/3872dc3041e9633ba40b51e7dbff263a1620108770.png" />
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="image ooo"
                                    src="https://b.zmtcdn.com/web/nutrition/assets/6070ce964372e9e39c5bf6345a7bf78c1620108789.png" />
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="image ooo"
                                    src="https://b.zmtcdn.com/web/nutrition/assets/136f6056ec55c6431172d5405cb645761620108811.png" />
                            </a>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
            <div class="col btnsright">
                <div class="customNextBtn rounded-circle">
                    <i class="fa fa-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wowo">
    <div style="background-color:white;">
        <div class="row" on style="
      max-width: 1500px;
      max-height: 240px;
      height: 250px;
      background-color: white;
    ">
            <div class="col Bleft">
                <div class="PreBtn rounded-circle">
                    <i class="fa fa-arrow-left"></i>
                </div>
            </div>

            <div class="col cindex" style="width: 1694px">
                <div class="hidecarousel4">
                    <owl-carousel-o [options]="csmOptions">
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="im ooo" src="assets/Images/Health.PNG" /></a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="im ooo" src="assets/Images/Omega.PNG" /></a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="im ooo" src="assets/Images/Skin.PNG" /></a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="im ooo" src="assets/Images/Weight.PNG" /></a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="im ooo" src="assets/Images/Sleep.PNG" /></a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="im ooo" src="assets/Images/Immunity.PNG" /></a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="im ooo" src="assets/Images/Fit.PNG" /></a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="im ooo" src="assets/Images/Nut.PNG" /></a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a [routerLink]="['']"><img class="im ooo" src="assets/Images/Teas.PNG" /></a>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
            <div class="col Bright">
                <div class="NextBtn rounded-circle">
                    <i class="fa fa-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<p
    style="padding-left: 150px;font-size: 1.3em;margin-block-start: 0.83em;margin-block-end: 0.83em;margin-inline-start: 0px;margin-inline-end: 0px;margin-top: 1%;">
    &nbsp;All Products</p>
<div class="card-deck">
    <a class="card" href="#">
        <img class="card-img-top" src="assets/Images/sleep1.PNG">
        <div class="card-body">
            <div type="veg" class="Vegsymbol">
                <div type="veg" class="smallcircle"></div>
            </div>
            <div class="headings">
                <h6 color="#1C1C1C" class="headng">Sleep - Timed Release Melatonin </h6>
            </div>
            <p color="#696969" class="content">An advanced timed-release formula that helps you
                fall asleep faster and wake up feeling fresher.</p>
            <div class="line"></div>
            <div class="rate">
                <p color="#696969" class="stricked">&nbsp;₹500&nbsp;</p>
                <p color="#1C1C1C" class="realrate">₹175</p>
            </div>
            <p color="#696969" class="total">monthly pack - 30 tablets</p>
        </div>
    </a>
    <a class="card" href="#">
        <img class="card-img-top" src="assets/Images/sleep2.PNG">
        <div class="card-body">
            <div type="veg" class="Vegsymbol">
                <div type="veg" class="smallcircle"></div>
            </div>
            <div class="headings">
                <h6 color="#1C1C1C" class="headng">Sleep Sure</h6>
            </div>
            <p color="#696969" class="content">Helps promote sound sleep naturally, reduces sleep onset time and
                provides relief from restlessness.</p>
            <div class="line"></div>
            <div class="rate">
                <p color="#696969" class="stricked">&nbsp;₹995&nbsp;</p>
                <p color="#1C1C1C" class="realrate">₹896</p>
            </div>
            <p color="#696969" class="total">monthly pack - 30 tablets</p>
        </div>
    </a>
    <a class="card" href="#">
        <img class="card-img-top" src="assets/Images/sleep3.PNG">
        <div class="card-body">
            <div type="veg" class="Vegsymbol">
                <div type="veg" class="smallcircle"></div>
            </div>
            <div class="headings">
                <h6 color="#1C1C1C" class="headng">Burn - Weight Balance </h6>
            </div>
            <p color="#696969" class="content">This formula with VFill™ technology will help improve metabolism and
                support fat burn.</p>
            <div class="line"></div>
            <div class="rate">
                <p color="#696969" class="stricked">&nbsp;₹650&nbsp;</p>
                <p color="#1C1C1C" class="realrate">₹250</p>
            </div>
            <p color="#696969" class="total">monthly pack - 30 capsules</p>
        </div>
    </a>
</div>
<div class="card-deck">
    <a class="card" href="#">
        <img class="card-img-top" src="assets/Images/sleep4.PNG">
        <div class="card-body">
            <div type="veg" class="Vegsymbol">
                <div type="veg" class="smallcircle"></div>
            </div>
            <div class="headings">
                <h6 color="#1C1C1C" class="headng">Weight Well </h6>
            </div>
            <p color="#696969" class="content">Herbal blend that helps regulate metabolism, fat accumulation, and
                assists in weight management naturally.</p>
            <div class="line"></div>
            <div class="rate">
                <p color="#696969" class="stricked">&nbsp;₹1,445&nbsp;</p>
                <p color="#1C1C1C" class="realrate">₹1,301</p>
            </div>
            <p color="#696969" class="total">monthly pack - 30 tablets</p>
        </div>
    </a>
    <a class="card" href="#">
        <img class="card-img-top" src="assets/Images/sleep6.PNG">
        <div class="card-body">
            <div type="veg" class="Vegsymbol">
                <div type="veg" class="smallcircle"></div>
            </div>
            <div class="headings">
                <h6 color="#1C1C1C" class="headng">KSM-66® Ashwagandha</h6>
            </div>
            <p color="#696969" class="content">An ayurvedic super herb that helps reduce stress, boost energy, improve
                cognition and increase muscle strength.</p>
            <div class="line"></div>
            <div class="rate">
                <p color="#696969" class="stricked">&nbsp;₹500&nbsp;</p>
                <p color="#1C1C1C" class="realrate">₹175</p>
            </div>
            <p color="#696969" class="total">monthly pack - 30 tablets</p>
        </div>
    </a>
    <a class="card" href="#">
        <img class="card-img-top" src="assets/Images/sleep7.PNG">
        <div class="card-body">
            <div type="veg" class="Vegsymbol">
                <div type="veg" class="smallcircle"></div>
            </div>
            <div class="headings">
                <h6 color="#1C1C1C" class="headng">Liver - Milk Thistle Herb</h6>
            </div>
            <p color="#696969" class="content">Give your liver the care it needs with this herbal formula that supports
                liver detoxification and repair</p>
            <div class="line"></div>
            <div class="rate">
                <p color="#696969" class="stricked">&nbsp;₹500&nbsp;</p>
                <p color="#1C1C1C" class="realrate">₹150</p>
            </div>
            <p color="#696969" class="total">monthly pack - 30 capsules</p>
        </div>
    </a>
</div>
<div class="card-deck">
    <a class="card" href="#">
        <img class="card-img-top" src="assets/Images/sleep5.PNG">
        <div class="card-body">
            <div type="veg" class="Vegsymbol">
                <div type="veg" class="smallcircle"></div>
            </div>
            <div class="headings">
                <h6 color="#1C1C1C" class="headng">Probiotic+ </h6>
            </div>
            <p color="#696969" class="content">An advanced 2-in-1 formula with benefits of both Probiotics and
                Prebiotics that helps improve digestion.</p>
            <div class="line"></div>
            <div class="rate">
                <p color="#696969" class="stricked">&nbsp;₹500&nbsp;</p>
                <p color="#1C1C1C" class="realrate">₹150</p>
            </div>
            <p color="#696969" class="total">monthly pack - 30 capsules</p>
        </div>
    </a>
    <a class="card" href="#">
        <img class="card-img-top" src="assets/Images/sleep8.PNG">
        <div class="card-body">
            <div type="veg" class="Vegsymbol">
                <div type="veg" class="smallcircle"></div>
            </div>
            <div class="headings">
                <h6 color="#1C1C1C" class="headng">Calm - Herbal Blend</h6>
            </div>
            <p color="#696969" class="content">A blend of ayurvedic herbs that helps reduce anxiety, improve focus and
                promote a calm state of mind</p>
            <div class="line"></div>
            <div class="rate">
                <p color="#696969" class="stricked">&nbsp;₹600&nbsp;</p>
                <p color="#1C1C1C" class="realrate">₹150</p>
            </div>
            <p color="#696969" class="total">monthly pack - 30 capsules</p>
        </div>
    </a>
    <a class="card" href="#">
        <img class="card-img-top" src="assets/Images/sleep9.PNG">
        <div class="card-body">
            <div type="veg" class="Vegsymbol">
                <div type="veg" class="smallcircle"></div>
            </div>
            <div class="headings">
                <h6 color="#1C1C1C" class="headng">Brain Boost</h6>
            </div>
            <p color="#696969" class="content">Helps promote mental wellness, improve concentration, attention span and
                memory</p>
            <div class="line"></div>
            <div class="rate">
                <p color="#696969" class="stricked">&nbsp;₹1,295&nbsp;</p>
                <p color="#1C1C1C" class="realrate">₹1,166</p>
            </div>
            <p color="#696969" class="total">monthly pack - 30 tablets</p>
        </div>
    </a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<app-footer></app-footer>