<app-delivery></app-delivery>
<div class="container ">
    <!-- The Modal Register -->
    <div class="modal fade seminor-login-modal" data-backdrop="static" id="sem-reg">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal body -->
                <div class="modal-body seminor-login-modal-body">
                    <h3 class="modal-title text-left" style="color: rgb(99, 98, 98);">SIGN UP</h3>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="rbbb40-1 fRCvfo re4bd0-1 jwGlki" size="24" color="#1C1C1C" tabindex="0"
                            aria-label="close Modal"><svg xmlns="http://www.w3.org/2000/svg" fill="#1C1C1C" width="24"
                                height="24" viewBox="0 0 20 20" aria-labelledby="icon-svg-title- icon-svg-desc-"
                                role="img" class="rbbb40-0 byLLrW">
                                <title>cross</title>
                                <path
                                    d="M11.42 10.42l3.54-3.54c0.38-0.4 0.38-1.040 0-1.42s-1.020-0.4-1.42 0l-3.54 3.54-3.54-3.54c-0.4-0.4-1.020-0.4-1.42 0s-0.38 1.020 0 1.42l3.54 3.54-3.54 3.54c-0.38 0.38-0.38 1.020 0 1.42 0.2 0.18 0.46 0.28 0.72 0.28s0.5-0.1 0.7-0.28l3.54-3.56 3.54 3.56c0.2 0.18 0.46 0.28 0.72 0.28s0.5-0.1 0.7-0.28c0.38-0.4 0.38-1.040 0-1.42l-3.54-3.54z">
                                </path>
                            </svg></i>
                    </button>


                    <form class="seminor-login-form">
                        <div class="boxing">
                            <div class="inputBox">
                                <input type="text" required="required">
                                <span>Full Name</span>
                            </div>
                            <div class="inputBox">
                                <input type="email" required="required">
                                <span>Email</span>
                            </div>
                        </div>
                        <div class="veg-box">
                            <label class="ct" style="color: gray;">I agree to Zomato's <a href="#">Terms of
                                    Service</a>,
                                <a href="#">Privacy
                                    Policy</a> and <a href="#">Content Policies</a>
                                <input type="checkbox" required="required" />
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="btn-check-log">
                            <button type="submit" class="btn-check-login">Create account</button>
                        </div>
                    </form>
                    <hr style="width:48%;margin-left: -7px;" />
                    <div style="margin-top: -30px;margin-left: 48%;">or</div>
                    <hr style="width:48%; margin-bottom:10px; margin-top: -10px; margin-right: -7px;" />
                    <div class="btn-check-log got">
                        <button type="submit" class="btn-check-google"><svg width="24" height="24" viewBox="0 0 22 22"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.87566 13.2946L4.10987 16.1534L1.31093 16.2126C0.474461 14.6611 0 12.886 0 10.9997C0 9.17565 0.443609 7.45552 1.22994 5.94092H1.23054L3.72238 6.39776L4.81396 8.87465C4.5855 9.54071 4.46097 10.2557 4.46097 10.9997C4.46106 11.8072 4.60732 12.5808 4.87566 13.2946Z"
                                    fill="#FBBB00"></path>
                                <path
                                    d="M21.8082 8.94507C21.9345 9.61048 22.0004 10.2977 22.0004 11C22.0004 11.7875 21.9176 12.5557 21.7598 13.2967C21.2243 15.8183 19.8252 18.0201 17.8869 19.5782L17.8863 19.5776L14.7477 19.4175L14.3035 16.6445C15.5896 15.8902 16.5947 14.7098 17.1242 13.2967H11.2422V8.94507H17.21H21.8082Z"
                                    fill="#518EF8"></path>
                                <path
                                    d="M17.8865 19.5778L17.8871 19.5784C16.002 21.0937 13.6073 22.0002 11.0006 22.0002C6.81152 22.0002 3.16945 19.6588 1.31152 16.2132L4.87625 13.2952C5.8052 15.7744 8.19679 17.5392 11.0006 17.5392C12.2057 17.5392 13.3348 17.2134 14.3036 16.6447L17.8865 19.5778Z"
                                    fill="#28B446"></path>
                                <path
                                    d="M18.0208 2.53241L14.4573 5.44981C13.4546 4.82307 12.2694 4.46102 10.9996 4.46102C8.13229 4.46102 5.69596 6.30682 4.81356 8.87494L1.23009 5.9412H1.22949C3.06022 2.41154 6.74823 0 10.9996 0C13.6686 0 16.1158 0.950726 18.0208 2.53241Z"
                                    fill="#F14336"></path>
                            </svg>
                            &nbsp;
                            <h5 style="display: inline; position: relative;bottom: -2px;"> Continue with Google</h5>
                        </button>
                    </div>
                    <div class="create-new-fau text-left pt-3">
                        <h6 style="display: inline;">Already Have An Account ? </h6><a href=" #"
                            [routerLink]="['/Login']" class="text-primary-fau"><span data-toggle="modal"
                                data-target="#sem-login" data-dismiss="modal" style="color: salmon;">
                                <h6 style="display: inline;">Log in</h6>
                            </span></a>
                    </div>



                </div>
            </div>
        </div>
    </div>




    <!-- The Modal Login -->


</div>